<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHR Info</title>
    <link rel="icon" href="static/images/logo.jpg" type="text/x-icon" />
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header class="header">
        <div class="school-budge-area">
            <img src="static/images/logo.png" class="school-budge" alt="EHR Logo" />
            <h1 class="school-name">EHR Information System</h1>
        </div>
        <nav class="navigation-area">
            <a href="login">Login</a>
            <a href="register">Doctor Registration</a>
            <a href="#info">EHR Info</a>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>This EHR Information System is designed to help doctors manage patient records efficiently. It allows doctors to access patient information securely and perform CRUD operations.</p>
        </section>

        
    </main>

    <footer>
        <p>&copy; 2024 EHR Information System. All rights reserved.</p>
    </footer>
</body>
</html>
