<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="static/images/logo.jpg" type="text/x-icon" />
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header class="header">
        <div class="school-budge-area">
            <img src="static/images/logo.jpg" class="school-budge" alt="EHR Logo" />
            <h1 class="school-name">EHR Information System</h1>
        </div>
        <nav class="navigation-area">
            <a href="about">About Us</a>
            <a href="register">Doctor Registration</a>
            <a href="#info">EHR Info</a>
        </nav>
    </header>

    <main>
        
        <section id="login">
            <h2>Forgot Password</h2>
            <p>Follow the instructions below to reset your password.</p>
            <div class="forgot_password-form">
                <form method="POST" action="{{ url_for('forgot_password') }}">
                    <p>
                        <label for="email">Enter your email address:</label>
                        <input type="email" id="email" name="email" required>
                    </p>
                    <p><input type="submit" value="Submit"></p>
                    </form>
                    <a href="{{ url_for('login') }}">Back to Login</a>
            </div>
            
        </section>

    </main>

    <footer>
        <p>&copy; 2024 EHR Information System. All rights reserved.</p>
    </footer>
</body>
</html>

