<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="static/images/logo.jpg" type="text/x-icon" />
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <header class="header">
        <div class="school-budge-area">
            <img src="static/images/logo.jpg" class="school-budge" alt="EHR Logo" />
            <h1 class="school-name">EHR Information System</h1>
        </div>
        <nav class="navigation-area">
            <a href="about">About Us</a>
            <a href="register">Doctor Registration</a>
            <a href="#info">EHR Info</a>
        </nav>
    </header>

    <main>
        
        <section id="login">
            <h2>Doctor login</h2>
            <div class="login-form">
                <form action="{{ url_for('login') }}" method="POST">
                    <p>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Email address" required />
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required />
                    </p>
                    <a href="forgot_password">Forgot Password?</a>
                    <p>
                        <input type="submit" value="Log in" class="login-button" />
                    </p>
                    <p>
                        <p>Don't have an account? <a href="register">Register</a></p>
                    </p>
                </form>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 EHR Information System. All rights reserved.</p>
    </footer>
</body>
</html>
